
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

@mixin flexbox {
	display: -webkit-flex;
	display: flex;
}

@mixin flexbox-inline {
	display: -ms-inline-flex;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.quoteSpace {
	width: 80%;
	height: 25%;
	margin-top: 15%;
}

ul {
	list-style: none;
}

.box {
	width: 32%;

}

.chart {
	margin: 0 auto;
	width: 75%;
	height: 100%;
	@include flexbox;
	flex-wrap: wrap;
	flex-basis: 33%;
}

.crew {
	background-color: #6E3629;
	cursor: pointer;
	padding: .2em;
	margin: .5em;
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	color: #C9C33D;
	border-radius: 5%;
	@include flexbox;
	align-items: center;
	}	

img, button img {
	width: 150px;
	height: auto;
	border-radius: 50%;
	border: 2px solid #c9c33d;
}
